@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-dashed {
    border-style: solid 6px transparent;
    border-radius: 8px;
    border-color: #0052dc;
    border-image: url("/assets/icons/borderDashed.png") 10 round;
  }
}
